<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDataGet" />
        <binding name="WSDualHttpBinding_IDataGet1" />
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICommandService" />
        <binding name="WSHttpBinding_ICommandService1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:18080/Command" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ICommandService" contract="ServiceReference1.ICommandService"
        name="WSHttpBinding_ICommandService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:18080/Data" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IDataGet" contract="ServiceReference1.IDataGet"
        name="WSDualHttpBinding_IDataGet">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>