<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CryostatControlServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CryostatControlServer.Properties.Settings>
      <setting name="He3PumpMaxVoltage" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="He4PumpMaxVoltage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="He4SwitchMaxVoltage" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="He3SwitchMaxVoltage" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ControllerHe3HeaterVoltage" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ControllerHe3SwitchVoltage" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ControllerHe4HeaterVoltage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ControllerHe4SwitchVoltage" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ControllerHe7StartTemperature" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ControllerHeatSwitchOnTemperature" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="ControllerHeatSwitchSafeValue" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ControllerHeatupTemperature" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ControllerHe4StartTemperature" serializeAs="String">
        <value>4.4</value>
      </setting>
      <setting name="ControllerHe3StartTemperature" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ControllerDisableHeaterHeatSwitchTemperature"
        serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ControllerHe3StartMinimalTemperature" serializeAs="String">
        <value>2.5</value>
      </setting>
      <setting name="ControllerHe3StartWaitTimeMinutes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PasswordToken" serializeAs="String">
        <value>ChangeMe!</value>
      </setting>
      <setting name="LoggingAddress" serializeAs="String">
        <value>C:\LoggingCryostat</value>
      </setting>
      <setting name="ControllerHeaterTemperatureSetpoint" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ControllerHeaterLowPowerValue" serializeAs="String">
        <value>0.05</value>
      </setting>
    </CryostatControlServer.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="CryostatControlServer.HostService.CommandService"
               behaviorConfiguration="controlserverbehavior" >
        <endpoint address="Command" binding="wsHttpBinding" contract="CryostatControlServer.HostService.ICommandService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="Data" binding="wsDualHttpBinding" contract="CryostatControlServer.HostService.IDataGet">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint name="service" address="service" binding="webHttpBinding"  behaviorConfiguration="httpendpoint" contract="CryostatControlServer.HostService.ICommandService" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:18081" />
            <add baseAddress="http://localhost:18080"/>
          </baseAddresses>
        </host>
      
      </service>
      
      
    </services>
    
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="Transport">
            
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          
        </behavior>
        <behavior name="controlserverbehavior">
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="CryostatControlServer.HostService.PasswordValidator, CryostatControlServer"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="httpendpoint">
          <webHttp/>
          
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>