<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <!-- use appSetting to configure base address provided by host -->
    <add key="baseAddress" value="http://localhost:8080/SRON" />
  </appSettings>

  <system.serviceModel>
    <services>
      <!-- This section is optional with the default configuration introduced
         in .NET Framework 4. -->
      <service
        name="CryostatControlServer.HostService.CommandService">
        <endpoint address="http://localhost:8000/SRON"
                  binding="wsHttpBinding"
                  contract="CryostatControlServer.HostService.ICommandService" />
        <endpoint address="http://localhost:8001/SRON"
                  binding="wsDualHttpBinding"
                  contract="CryostatControlServer.HostService.IDataGet" />
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>