<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CryostatControlServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CryostatControlServer.Properties.Settings>
      <setting name="He3PumpMaxVoltage" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="He4PumpMaxVoltage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="He4SwitchMaxVoltage" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="He3SwitchMaxVoltage" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ControllerHe3HeaterVoltage" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ControllerHe3SwitchVoltage" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ControllerHe4HeaterVoltage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ControllerHe4SwitchVoltage" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ControllerHe7StartTemperature" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ControllerHeaterTemperatureSetpoint" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="ControllerHeatSwitchOnTemperature" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ControllerHeatSwitchSafeValue" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="ControllerHeatupTemperature" serializeAs="String">
        <value>50</value>
      </setting>
    </CryostatControlServer.Properties.Settings>
  </userSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <!-- use appSetting to configure base address provided by host -->
    <add key="baseAddress" value="http://localhost:8080/SRON" />
  </appSettings>

  <system.serviceModel>
    <services>
      <!-- This section is optional with the default configuration introduced
         in .NET Framework 4. -->
      <service
        name="CryostatControlServer.HostService.CommandService">
        <endpoint address="http://localhost:8000/SRON"
                  binding="wsHttpBinding"
                  contract="CryostatControlServer.HostService.ICommandService" />
        <endpoint address="http://localhost:8001/SRON"
                  binding="wsDualHttpBinding"
                  contract="CryostatControlServer.HostService.IDataGet" />
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>